<table class="table">
  <thead>
  <tr>
    <th> Name </th>
    <th> Symbol </th>
    <th> Buy Price </th>
    <th> Last Price </th>
    <th> Change </th>
    <th> Shares </th>
    <th> Balance </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="quote in usrPortfolio">
    <td  align="left"> {{quote.companyName}} </td>
    <td  align="left"> {{quote.symbol}} </td>
    <td  align="left"> {{quote.buyOut | currency:"€"}} </td>
    <td  align="left"> {{quote.lastPrice | currency:"€"}} </td>
    <td  align="left"
         data-ng-style="quote.valuableInfo.signChange == 'negative' && { 'color': '#FF4141' } ||
                   quote.valuableInfo.signChange == 'positive' && { 'color': '#00FF80' } "> {{quote.sessionChange | currency:"€"}} </td>
    <td  align="left"> {{quote.shares}} </td>
    <td  align="left"
         data-ng-style="quote.valuableInfo.signBalance == 'negative' && { 'color': '#FF4141' } ||
                   quote.valuableInfo.signBalance == 'positive' && { 'color': '#00FF80' } "> {{quote.balance | currency:"€"}} </td>
  </tr>
  </tbody>
</table>