<table class="table">
  <thead>
  <tr>
    <th> Name </th>
    <th> Symbol </th>
    <th> Last Price </th>
    <th> Change </th>
    <th> Shares </th>
    <th> Balance </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="quote in usrPortfolio">
    <td  align="left"> {{quote.companyName}} </td>
    <td  align="left"> {{quote.symbol}} </td>
    <td  align="left"> {{quote.lastPrice | currency:"€"}} </td>
    <td  align="left"> {{quote.change}} </td>
    <td  align="left"> {{quote.shares}} </td>
    <td  align="left"> {{quote.balance | currency:"€"}} </td>
  </tr>
  </tbody>
</table>