<table class="table table-hover">
  <thead>
  <tr>
    <th > Name </th>
    <th> Symbol </th>
    <th> Buy Price </th>
    <th> Last Price </th>
    <th> Change </th>
    <th> Shares </th>
    <th> Mkt Value </th>
    <th> Gain </th>
    <th> Overall return </th>
    <th> Options </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="quote in usrPortfolio">

    <td  align="left"> {{quote.companyName}} </td>
    <td  align="left"> {{quote.ticker}}</td>
    <td  align="left"> {{quote.buyOut | currency:"€"}} </td>
    <td  align="left"> {{quote.lastPrice | currency:"€"}} </td>
    <td  align="left"
         data-ng-style="quote.valuableInfo.signChange == 'negative' && { 'color': '#FF4141' } ||
                   quote.valuableInfo.signChange == 'positive' && { 'color': '#00FF80' } ">
      {{quote.sessionChange | currency:"€"}} ({{((100/quote.openPrice)*quote.lastPrice)-100 | number:2}}%)
    </td>
    <td  align="left"> {{quote.shares}} </td>
    <td aling="left"> {{quote.lastPrice*quote.shares | currency:"€"}}</td>
    <td  align="left"
         data-ng-style="quote.valuableInfo.signBalance == 'negative' && { 'color': '#FF4141' } ||
                   quote.valuableInfo.signBalance == 'positive' && { 'color': '#00FF80' } ">
      {{quote.balance | currency:"€"}} </td>
    <td  align="left"
         data-ng-style="quote.valuableInfo.signBalance == 'negative' && { 'color': '#FF4141' } ||
                   quote.valuableInfo.signBalance == 'positive' && { 'color': '#00FF80' } ">
      {{(((100/quote.buyOut)*quote.lastPrice)-100) | number:2}}% </td>

    <!-- Options buttons -->
    <td  align="left">
      <a href class="btn" ng-click="" uib-tooltip="Transaction Info">
        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
      </a>
      <a href class="btn" ng-click="" uib-tooltip="Quote history">
        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
      </a>
    </td>
  </tr>
  </tbody>

  <tfoot>
    <tr>
      <td><button class="btn-option" uib-collapse="showAddNewQuote"
                  ng-click="showAddNewQuote=!showAddNewQuote">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Quote</button>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>

<div uib-collapse="!showAddNewQuote">
  <div class="well">
    <div class="row">
      <form class="well-form-inline" name="form" role="form">

        <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Name" id="quoteName"
                   ng-model="bfc.quote.companyName" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Symbol" id="quoteSymbol"
                   ng-model="bfc.quote.symbol" required>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Shares" id="quoteShares"
                   ng-model="bfc.quote.shares" required>
          </div>
        </div>

        <p> </p>

        <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Buy price" id="quoteBuyPrice"
                   ng-model="bfc.quote.buyPrice" aria-describedby="sizing-addon3" required>
            <span class="input-group-addon">€</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Comission" id="quoteCommission"
                   ng-model="bfc.quote.commission" aria-describedby="sizing-addon3" required>
            <span class="input-group-addon">€</span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Buy date" id="quoteBuyDate"
                   ng-model="bfc.quote.buyDate" aria-describedby="sizing-addon3" uib-datepicker-popup
                   is-open="datePopup.opened" show-button-bar="false" min-date="minDate" max-date="maxDate"  required>
            <span class="input-group-addon">
              <button type="button" ng-click="datePopup.opened = true">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </div>
        </div>

        <p> </p>
      </form>

      <button class="btn-option-well"  ng-disabled="form.$invalid"
              ng-click="showAddNewQuote=!showAddNewQuote; bfc.addQuote();  bfc.resetQuoteForm(form)">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Add to my portfolio
      </button>
      <button class="btn-option-well" ng-click="showAddNewQuote=!showAddNewQuote; bfc.resetQuoteForm(form)">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Discard changes
      </button>

    </div>
  </div>
</div>