<div class="col-md-12">
  <h2>
    Latest News
  </h2>
  <div class="news-well" ng-repeat="entry in news | orderBy:'-publishedDate'" ng-if="$index<shownNews">
    <div class="media">
      <div class="media-left" ng-if="false">
        <img class="media-object" src="{{entry.mediaGroups[0].contents[0].url}}" alt="...">
      </div>
      <div class="media-body">
        <a target="_blank" href="{{entry.link}}">
          <h5 class="media-heading">{{entry.title}}</h5>
        </a>
        {{entry.contentSnippet}} {{entry.publishedDate | date:'mediumDate'}}
      </div>
    </div>
  </div>

  <a href class="btn" ng-click="nrssc.viewMoreNews()">
    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> More news...
  </a>
</div>