<!-- Navigation Bar Directive -->

<navbar></navbar>


<!-- Alerts -->

<div class="alert alert-dismissible" role="alert"
     ng-class="{ 'alert-success': alert.type == 'success',
                 'alert-warning': alert.type == 'warning',
                 'alert-info': alert.type == 'info',
                 'alert-danger': alert.type == 'error'}"
     ng-repeat="alert in alerts">
 <button type="button" class="close" aria-label="Close" ng-click="alert.close()">
  <span aria-hidden="true">&times;</span></button>
 {{ alert.msg }}
</div>

<!-- Body -->


<div class="container-fluid">
 <div class="row">
  <div class="col-md-8">
   <brief></brief>
  </div>


  <div class="col-md-4">
   <div class="row">
    <div class="col-md-12">
    </div>
   </div>
   <div class="row">
    <div class="col-md-12">
     <div class="panel panel-default">
      <div class="panel-heading">
       <h3 class="panel-title">
        Panel title
       </h3>
      </div>
      <div class="panel-body">
       Panel content
      </div>
      <div class="panel-footer">
       Panel footer
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="row">
  <div class="col-md-12">
   <div class="row">
    <div class="col-md-4">
     <h2>
      Heading
     </h2>
     <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
     <p>
      <a class="btn" href="">View details »</a>
     </p>
    </div>
    <div class="col-md-4">
     <h2>
      Heading
     </h2>
     <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
     <p>
      <a class="btn" href="">View details »</a>
     </p>
    </div>
    <div class="col-md-4">
     <h2>
      Heading
     </h2>
     <p>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
     </p>
     <p>
      <a class="btn" href="">View details »</a>
     </p>
    </div>
   </div>
  </div>
 </div>
</div>